.contactsListWrapper{
    margin : 20px 0 0 0;
}
.contactsList {
    margin: 0;
}
.contactsList::-webkit-scrollbar {
    width: 10px;
}
.contactsList::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #00b38f;
}
.contactsList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

